<nav>
    <!--<hr>-->
    <div class="" style="background-color: steelblue;color: white;font-weight: bold;font-size: medium;width: 290px;text-align:center;">
        Purchase a Tag
        <div style="text-align:center;">
        <a href="" ng-click="openUrlInTab('https://www.hctra.org/')">
            <img src="/assets/content/images/get-ez-tag.jpg" width="30%" height="30%" border="1"></a>
        <br>
        <a href="" ng-click="openUrlInTab('http://www.txtag.org/')">
            <img src="/assets/content/images/txtag_trans.gif" width="25%" height="25%" border="1">
            </a>
        <br>
        <a href="" ng-click="openUrlInTab('https://www.ntta.org')">
            <img src="/assets/content/images/TollTag_Logo.gif" width="20%" height="20%" border="1">
            </a>
        </div>
    </div>
</nav>