.homeSaveButton {
    position: relative;
    top: 0;
    right: 2%;
}

.logoutButton {
    color: #001F5B;
    background-color: #fff;
    opacity: 1;
    filter: alpha(opacity=25);
    border-radius: 0px;
    position: absolute;
    top: 0;
    right: 2%;
}

.customCenter {
    width: 30%;
    margin-left: 35%;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.vam {
    vertical-align: middle;
}

div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
    padding: .25em;
    background-color: steelblue;
    clear: left;
    text-align: right;
    margin: 35px;
    color: white;
}

nav {
    float: left;
    max-width: 270px;
    min-width: 100px;
    margin: 0;
    padding: 1em;
}

navTitle {
    padding: .25em;
    background-color: steelblue;
    color: white;
    font-weight: bold;
    width: 100%;
    margin: 23px;
}
loginTitle
 {
    background-color: steelblue;
    color: white;
    font-weight: bold;
}
/*nav ul {
        list-style-type: none;
        padding: 0;
    }*/

/*nav ul a {
            text-decoration: none;
        }*/

main {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
  .contact-info-form {
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
  }

  .contact-info-form li {
    margin: 10px 0;
  }

  .contact-info-form label {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-weight: bold;
  }
  .search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
}

@media (min-height: 392px) {
  .modal-lg {
    height: 80%;
  }
  .modal-body {
    height: 550px;
  }
}

.selected {
  background-color: Highlight !important;
}
.glyphicon:before {
 visibility: visible;
}
.glyphicon.glyphicon-unchecked:checked:before {
   content: "\e013";
}
input[type=checkbox].glyphicon{
    visibility: hidden;
    
}