<!DOCTYPE html>
<br />
<div class="row">
    <div class="col-md-3">
        <div class="form-control label-warning pull-right"><span translate>LABEL_NUMBER_OF_VIOLATIONS</span>: <span ng-bind="violationData.NoOfViolations"></span></div>
    </div>
    <div class="col-md-3">
        <div class="form-control label-primary"><font color="white"><span translate>LABEL_PAYMENT_AMOUNT</span>: $<span ng-bind="paymentTotal"></span></font></div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-control label-warning pull-right fon"><span translate>LABEL_TOTAL_AMOUNT_DUE</span>: $<span ng-bind="violationData.TotalAmount | number : 2"></span></div>
    </div>
    <div class="col-md-5 btn-group" data-toggle="buttons">
        <div class="form-group">
            <div class="radio">
                <label ng-click="paymentMethod='ck'">
                    <input type="radio" name="paymentMethod" value="ck" ng-model="paymentMethod">
                    <span translate>LABEL_BANK_ACCOUNT_CHECK</span>
                </label>
                <label style="margin-left:15px;" ng-click="paymentMethod='cc'">
                    <input type="radio" name="paymentMethod" value="cc" ng-model="paymentMethod">

                    <span translate>LABEL_CREDIT_DEBIT</span>
                </label>
                <a ng-disabled="paymentTotal == '0.00' || !paymentMethod" ng-click="getPaymentUrl()" role="button" class="btn btn-primary" style="margin-left:25px;" data-toggle="modal">
                    <span translate>LABEL_PAY</span>
                </a>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-hover">
    <tbody>
        <!--<tr>
            <th><a ng-click="sort_by('select')"></a></th>
            <th><a ng-click="sort_by('NoticeNumber')">Notice Number <i class="fa fa-sort"></i></a></th>
            <th><a ng-click="sort_by('LicensePlate')">License Plate <i class="fa fa-sort"></i></a></th>
            <th><a ng-click="sort_by('Date')">Date <i class="fa fa-sort"></i></a></th>
            <th><a ng-click="sort_by('Status')">Status <i class="fa fa-sort"></i></a></th>
            <th><a ng-click="sort_by('Toll')">Toll <i class="fa fa-sort"></i></a></th>
            <th><a ng-click="sort_by('InitialNoticeFee')">Initial Notice Fee <i class="fa fa-sort"></i></a></th>
            <th><a ng-click="sort_by('TollViolationFee')">Toll Violation Fee <i class="fa fa-sort"></i></a></th>
            <th><a ng-click="sort_by('FinalNoticeFee')">Final Notice Fee <i class="fa fa-sort"></i></a></th>
            <th><a ng-click="sort_by('NSFFee')">NSFFee <i class="fa fa-sort"></i></a></th>
            <th><a ng-click="sort_by('CourtFee')">Court Fee <i class="fa fa-sort"></i></a></th>
            <th><a ng-click="sort_by('AdminFee')">Admin Fee <i class="fa fa-sort"></i></a></th>
            <th><a ng-click="sort_by('AmountDue')">Amount Due <i class="fa fa-sort"></i></a></th>
            <th><a ng-click="sort_by('TVNLetter')">Statement <i class="fa fa-sort"></i></a></th>
            <th><a ng-click="sort_by('Description_')"></a></th>
        </tr>-->
        <tr>
            <th></th>
            <th translate="LABEL_NOTICE_NUMBER"></th>
            <th translate="LABEL_LICENCE_PLATE">License Plate</th>
            <th translate="LABEL_DATE">Date</th>
            <th translate="LABEL_STATUS">Status</th>
            <th translate="LABEL_TOLL">Toll</th>
            <th translate="LABEL_INITIAL_NOTICE_FEE">Initial Notice Fee</th>
            <th translate="LABEL_TOLL_VIOLATION_FEE">Toll Violation Fee</th>
            <th translate="LABEL_FINAL_NOTICE_FEE">Final Notice Fee</th>
            <th translate="LABEL_NSF_FEE">NSFFee</th>
            <th translate="LABEL_COURT_FEE">Court Fee</th>
            <th translate="LABEL_ADMIN_FEE">Admin Fee</th>
            <th translate="LABEL_AMOUNT_DUE">Amount Due</th>
            <th translate="LABEL_STATEMENT">Statement</th>
            <th></th>
        </tr>
    </tbody>
    <tbody>
        <tr ng-repeat="item in violationData.Violations | orderBy:sortingOrder:reverse" ng-click="toggleSelection($event, item)" ng-class="{selected: item.NoticeNumber == idSelected}">
            <td>
                <input type="checkbox"
                       class="checkbox"
                       name="selectedItems[]"
                       value="{{item}}"
                       ng-checked="selection.indexOf(item) > -1"
                       ng-hide="item.Payable==='0'"
                       ng-disabled="item.Payable==='0'">
            </td>
            <td ng-bind="item.NoticeNumber"></td>
            <td ng-bind="item.LicensePlate"></td>
            <td ng-bind="item.Date"></td>
            <td ng-bind="item.Status"></td>
            <td ng-bind="item.Toll"></td>
            <td ng-bind="item.InitialNoticeFee"></td>
            <td ng-bind="item.TollViolationFee"></td>
            <td ng-bind="item.FinalNoticeFee"></td>
            <td ng-bind="item.NSFFee"></td>
            <td ng-bind="item.CourtFee"></td>
            <td ng-bind="item.AdminFee"></td>
            <td ng-bind="item.AmountDue"></td>
            <td><a class="menu_links" ng-click="getNoticePdf(item.TVNLetter)" translate="LABEL_DOWNLOAD"></a></td>
            <td ng-bind="item.Description_"></td>
        </tr>
    </tbody>
    <tr></tr>
</table>