<!DOCTYPE html>
<br />
<div class="row">
    <div class="col-md-3">
        <div class="form-control label-warning pull-right"><span translate>LABEL_NUMBER_OF_VIOLATIONS</span>: <span ng-bind="violationData.NoOfViolations"></span></div>
        <div class="form-control label-warning pull-right">
            <span translate>LABEL_NSF_FEE</span>: $<span ng-bind="violationData.NSFFee | number : 2"></span>
            <span ng-if="violationData.NSFStatus!==''" ng-bind="'(' + violationData.NSFStatus + ')'"></span>
        </div>
        <div class="form-control label-warning pull-right">
            <span translate>LABEL_TOTAL_AMOUNT_DUE</span>: $<span ng-bind="violationData.TotalAmount | number : 2"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-control label-primary">
            <font color="white">
                <span translate>LABEL_PAYMENT_AMOUNT</span>: $<span ng-bind="paymentTotal"></span>
                <a title="{{ 'LABEL_PAYMENT_INFO_TITLE' | translate }}" id="popover" data-toggle="popover" data-trigger="manual" data-content="{{ 'LABEL_PAYMENT_INFO_DETAIL' | translate }}" data-placement="top"></a>
            </font>
        </div>
        <div class="btn-group" data-toggle="buttons">
            <div class="form-group">
                <div class="radio">
                    <label ng-click="paymentMethod='ck'">
                        <input type="radio" name="paymentMethod" value="ck" ng-model="paymentMethod">
                        <span translate>LABEL_BANK_ACCOUNT_CHECK</span>
                    </label>
                    <label style="margin-left:15px;" ng-click="paymentMethod='cc'">
                        <input type="radio" name="paymentMethod" value="cc" ng-model="paymentMethod">
                        <span translate>LABEL_CREDIT_DEBIT</span>
                    </label>
                    <a ng-disabled="paymentTotal == '0.00' || !paymentMethod" ng-click="getPaymentUrl()" role="button" class="btn btn-primary" style="margin-left:25px;" data-toggle="modal">
                        <span translate>LABEL_PAY</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <span translate>CONTENT_NOTICES_INFO</span>
    </div>
</div>
<br />
<div id="tableWrapper">
    <table class="table table-striped table-hover data-table">
        <thead>
            <tr>
                <th></th>
                <th translate="LABEL_NOTICE_NUMBER"></th>
                <th translate="LABEL_LICENCE_PLATE"></th>
                <th translate="LABEL_DATE"></th>
                <th translate="LABEL_STATUS"></th>
                <th translate="LABEL_TOLL"></th>
                <th translate="LABEL_INITIAL_NOTICE_FEE"></th>
                <th translate="LABEL_TOLL_VIOLATION_FEE"></th>
                <th translate="LABEL_FINAL_NOTICE_FEE"></th>
                <th translate="LABEL_COURT_FEE"></th>
                <th translate="LABEL_ADMIN_FEE"></th>
                <th translate="LABEL_AMOUNT_DUE"></th>
                <th translate="LABEL_STATEMENT"></th>
                <th translate="LABEL_APPEAL_VIOLATION"></th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="item in violationData.Violations | orderBy:sortingOrder:reverse">
            <tr ng-class="{selected: item.NoticeNumber == idSelected}">
                <td>
                    <input type="checkbox"
                           class="checkbox"
                           name="selectedItems[]"
                           value="{{item}}"
                           ng-checked="selection.indexOf(item) > -1"
                           ng-hide="item.Payable==='0'"
                           ng-disabled="item.Payable==='0'"
                           ng-click="toggleSelection($event, item)">
                </td>
                <td ng-bind="item.NoticeNumber" ng-class="{hasDetail: item.HasDetails=='Yes'}" ng-click="getNoticeTransactions($index, item);toggle[$index] = !toggle[$index]"></td>
                <td ng-bind="item.LicensePlate" ng-click="getNoticeTransactions($index, item);toggle[$index] = !toggle[$index]"></td>
                <td ng-bind="item.Date | date:'MM/dd/yyyy'" ng-click="getNoticeTransactions($index, item);toggle[$index] = !toggle[$index]"></td>
                <td ng-bind="item.Status" ng-click="getNoticeTransactions($index, item);toggle[$index] = !toggle[$index]"></td>
                <td ng-bind="item.Toll | number : 2" ng-click="getNoticeTransactions($index, item);toggle[$index] = !toggle[$index]"></td>
                <td ng-bind="item.InitialNoticeFee | number : 2" ng-click="getNoticeTransactions($index, item);toggle[$index] = !toggle[$index]"></td>
                <td ng-bind="item.TollViolationFee  | number : 2" ng-click="getNoticeTransactions($index, item);toggle[$index] = !toggle[$index]"></td>
                <td ng-bind="item.FinalNoticeFee | number : 2" ng-click="getNoticeTransactions($index, item);toggle[$index] = !toggle[$index]"></td>
                <td ng-bind="item.CourtFee | number : 2" ng-click="getNoticeTransactions($index, item);toggle[$index] = !toggle[$index]"></td>
                <td ng-bind="item.AdminFee | number : 2" ng-click="getNoticeTransactions($index, item);toggle[$index] = !toggle[$index]"></td>
                <td ng-bind="item.AmountDue | number : 2" ng-click="getNoticeTransactions($index, item);toggle[$index] = !toggle[$index]"></td>
                <td><a class="menu_links" ng-click="getNoticePdf(item.TVNLetter)" translate="LABEL_DOWNLOAD"></a></td>
                <td><a class="menu_links" ng-hide="item.Payable==='0'" ng-disabled="item.Payable==='0'" ng-click="disputeNotice(item)" translate="LABEL_APPEAL"></a></td>
                <td ng-bind="item.Description_" style="color:red"></td>
            </tr>
            <tr ng-show="toggle[$index] && item.HasDetails=='Yes'">
                <td colspan="2"></td>
                <td colspan="14">
                    <div class="table-small-scrollbar">
                        <table class="table table-condensed table-bordered table-hover trxnDetailtable">
                            <tr>
                                <th translate="LABEL_LANE"></th>
                                <th translate="LABEL_DATE"></th>
                                <th translate="LABEL_TRXNNUM"></th>
                                <th translate="LABEL_STATUS"></th>
                                <th translate="LABEL_TOLL"></th>
                                <th ng-if="item.noticeDetailData.ImageName_IR"></th>
                                <th ng-if="item.noticeDetailData.ROI_ImageName_IR"></th>
                            </tr>
                            <tr ng-repeat="detail in item.noticeDetailData">
                                <td ng-bind="detail.Lane"></td>
                                <td ng-bind="detail.TransactionDate | date:'short'"></td>
                                <td ng-bind="detail.TrxnNum"></td>
                                <td ng-bind="detail.Status"></td>
                                <td ng-bind="detail.TollAmount | currency"></td>
                                <td ng-if="detail.ImageName_IR!=null"><button ng-click="openImage(detail.ImageName_IR)"><i class="fa fa-picture-o"></i></button></td>
                                <td ng-if="detail.ROI_ImageName_IR!=null"><button ng-click="openImage(detail.ROI_ImageName_IR)"><i class="fa fa-picture-o"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>