<br />
<!--<div class="row">
    <div class="col-md-3">
        <div class="input-group input-group-sm add-on">
            <input type="text" class="form-control search-query" ng-model="query" ng-change="search()" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <select class="form-control input-sm pull-right" ng-model="itemsPerPage" ng-change="perPage()" ng-options="('show '+size+' per page') for size in pageSizes"></select>
    </div>
    <div class="col-md-3">
        <div class="form-control label-warning pull-right" ng-show="paymentTotal">Payment Total: $<span ng-bind="paymentTotal"></span></div>
    </div>
    <div class="col-md-3">
        <a ng-show="paymentTotal" ng-click="getPaymentUrl()" role="button" class="btn btn-primary" data-toggle="modal">Pay</a>
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Modal header</h3>
            </div>
            <div class="modal-body">
                <p>Modal Body…</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<br />

<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <th class="id"><a ng-click="sort_by('id')">Notice Number <i class="fa fa-sort"></i></a></th>
            <th class="total"><a ng-click="sort_by('total')">Amount Due <i class="fa fa-sort"></i></a></th>
            <th class="description"><a ng-click="sort_by('description')">Description <i class="fa fa-sort"></i></a></th>
            <th class="link"><a ng-click="sort_by('link')">Statement <i class="fa fa-sort"></i></a></th>
            <th class="select"><a ng-click="sort_by('select')">Select</a></th>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="9">
                {{sizes}}
                <div class="text-center">
                    <ul class="pagination">
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href="javascript:;" ng-click="prevPage()">« Prev</a>
                        </li>
                        <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                            <a href="javascript:;" ng-bind="n + 1">1</a>
                        </li>
                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                            <a href="javascript:;" ng-click="nextPage()">Next »</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse" ng-click="toggleSelection($event, item)" ng-class="{selected: item.id == idSelected}">

            <td ng-bind="item.id"></td>
            <td>$<span ng-bind="item.total"></span></td>
            <td ng-bind="item.description"></td>
            <td><a ng-bind="item.link | trustAsResourceUrl" ng-click="getNoticePdf()"></a></td>
            <td>
                <input type="checkbox"
                       class="glyphicon glyphicon-unchecked"
                       name="selectedItems[]"
                       value="{{item}}"
                       ng-checked="selection.indexOf(item) > -1">
            </td>
        </tr>
    </tbody>
    <tr>
        <td ng-show="paymentTotal">Payment Total: $<span ng-bind="paymentTotal"></span></td>
    </tr>
</table>-->
<div class="row">
    <div class="col-md-3">
        <div class="form-control label-warning pull-right">Number of Violations: <span ng-bind="violationData.NoOfViolations"></span></div>
    </div>
    <div class="col-md-3">
        <div class="form-control label-warning pull-right fon">Total Amount Due: $<span ng-bind="violationData.TotalAmount"></span></div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-control label-primary"><font color="white">Payment Amount: $<span ng-bind="paymentTotal"></span></font></div>
    </div>
    <div class="col-md-3 btn-group" data-toggle="buttons">
        <!--<label class="btn btn-primary active">
            <input type="checkbox" checked autocomplete="off" value="true" ng-model="payMethod"> Bank Account/Check
        </label>
        <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off" value="false" ng-model="payMethod"> Credit/Debit
        </label>-->
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="paymentMethod" value="bank" ng-model="paymentMethod">
                    Bank Account/Check
                </label>
                <label style="margin-left:15px;">
                    <input type="radio" name="paymentMethod" value="card" ng-model="paymentMethod">
                    Credit/Debit
                </label>
                <a ng-disabled="!paymentTotal || !paymentMethod" ng-click="getPaymentUrl()" role="button" class="btn btn-primary" style="margin-left:25px;" data-toggle="modal">Pay</a>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <th class="select"><a ng-click="sort_by('select')"></a></th>
            <th class="NoticeNumber"><a ng-click="sort_by('NoticeNumber')">Notice Number <i class="fa fa-sort"></i></a></th>
            <th class="LicensePlate"><a ng-click="sort_by('LicensePlate')">License Plate <i class="fa fa-sort"></i></a></th>
            <th class="Date"><a ng-click="sort_by('Date')">Date <i class="fa fa-sort"></i></a></th>
            <th class="Status"><a ng-click="sort_by('Status')">Status <i class="fa fa-sort"></i></a></th>
            <th class="Toll"><a ng-click="sort_by('Toll')">Toll <i class="fa fa-sort"></i></a></th>
            <th class="InitialNoticeFee"><a ng-click="sort_by('InitialNoticeFee')">Initial Notice Fee <i class="fa fa-sort"></i></a></th>
            <th class="TollViolationFee"><a ng-click="sort_by('TollViolationFee')">Toll Violation Fee <i class="fa fa-sort"></i></a></th>
            <th class="FinalNoticeFee"><a ng-click="sort_by('FinalNoticeFee')">Final Notice Fee <i class="fa fa-sort"></i></a></th>
            <th class="NSFFee"><a ng-click="sort_by('NSFFee')">NSFFee <i class="fa fa-sort"></i></a></th>
            <th class="CourtFee"><a ng-click="sort_by('CourtFee')">Court Fee <i class="fa fa-sort"></i></a></th>
            <th class="AdminFee"><a ng-click="sort_by('AdminFee')">Admin Fee <i class="fa fa-sort"></i></a></th>
            <th class="AmountDue"><a ng-click="sort_by('AmountDue')">Amount Due <i class="fa fa-sort"></i></a></th>
            <th class="TVNLetter"><a ng-click="sort_by('TVNLetter')">Statement <i class="fa fa-sort"></i></a></th>
        </tr>
    </tbody>
    <tbody>
        <tr ng-repeat="item in violationData.Violations | orderBy:sortingOrder:reverse" ng-click="toggleSelection($event, item)" ng-class="{selected: item.NoticeNumber == idSelected}">
            <td>
                <input type="checkbox"
                       class="glyphicon glyphicon-unchecked"
                       name="selectedItems[]"
                       value="{{item}}"
                       ng-checked="selection.indexOf(item) > -1">
            </td>
            <td ng-bind="item.NoticeNumber"></td>
            <td ng-bind="item.LicensePlate"></td>
            <td ng-bind="item.Date"></td>
            <td ng-bind="item.Status"></td>
            <td ng-bind="item.Toll"></td>
            <td ng-bind="item.InitialNoticeFee"></td>
            <td ng-bind="item.TollViolationFee"></td>
            <td ng-bind="item.FinalNoticeFee"></td>
            <td ng-bind="item.NSFFee"></td>
            <td ng-bind="item.CourtFee"></td>
            <td ng-bind="item.AdminFee"></td>
            <td ng-bind="item.AmountDue"></td>
            <td><a ng-bind="item.TVNLetter | trustAsResourceUrl" ng-click="getNoticePdf()"></a></td>
        </tr>
    </tbody>
    <tr>
        <td>Payment Total: $<span ng-bind="paymentTotal"></span></td>
    </tr>
    <!--violationData.Violations = {{violationData.Violations}}-->
</table>
<!--selection = {{selection}}-->